# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# 日志
*.log
logs/

# 系统文件
.DS_Store
Thumbs.db

# 大数据集和模型权重（如果太大不想上传）
# data/
# *.pth
# *.bin
# *.zip
.ipynb_checkpoints/
